.cart_style{
    border-style: solid;
    border-width: 1px;
    width: 300px;
}
#container{
    display: flex;
    gap: 10px;
    max-width: 1180px;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
}